#random-card, #game-search-card {
    width: 40%;
    min-width: 360px;
    min-height: 300px;
}

#random-matchmaking-btn{
    width: 90%;
    height: 60px;
    font-size: 1.2rem;
    margin-top: 48px;
    margin-bottom: 48px;
}

#game-search-input{
    width: 95%;
}

#game-search-results-area{
    width: 100%;
    min-height: 234px;
}
#game-search-results-placeholder{
    width: 50%;
    height: 30%;
    border-radius: 8px;
    border-style: dashed;
    border-color: var(--divider-color);
    border-width: 1px;
    font-weight: 300;
}
.game-search-result{

}