#random-card, #game-search-card {
    min-width: 360px;
    min-height: 300px;
}

#random-matchmaking-btn{
    width: 90%;
    height: 60px;
    font-size: 1.2rem;
    margin-top: 48px;
    margin-bottom: 48px;
}

#game-search-input{
    width: 95%;
}

#game-search-results-area{
    width: 100%;
    min-height: 234px;
}
#game-search-results-placeholder{
    width: 50%;
    height: 30%;
    border-radius: 8px;
    border-style: dashed;
    border-color: var(--divider-color);
    border-width: 1px;
    font-weight: 300;
}
.game-search-result{

}

#match-search-modal{
	max-width: 600px;
	max-height: 490px;

	min-width: 400px;

	transition: all ease 0.25;
}

#match-search-modal > div{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#match-search-modal .hidden{
	height: 0;
	width: 0;
}

#match-search-modal-searching button
, #match-search-modal-cancelled button
, #match-search-modal-error button{
	width: 100%;
}
#match-search-modal .card-content > div{
	width: 100%;
}

#match-search-modal-found button{
	width: 45%;
}

#accept-match-btn{
	background-color: var(--good-color);
	color: var(--text-light-primary-color);
}
#reject-match-btn{
	background-color: var(--error-color);
	color: var(--text-light-primary-color);
}

#loadingio-attribution {
	font-size: 0.85rem;
	text-align: center;

	position: fixed;
	bottom: 8px;
	left: 8px;
	color: var(--secondary-text-color);
	z-index: 1001;
}